
.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #45CEAF;
}
.fire {
    background-color: #ee7f30;
}
.water {
    background-color: #678fee;
}
.electric {
    background-color: #f7cf2e;
}
.ice {
    background-color: #98d5d7;
}
.ground {
    background-color: #dfbf69;
}
.flying {
    background-color: #a98ff0;
}
.poison {
    background-color: #a040a0;
}
.fighting {
    background-color: #bf3029;
}
.psychic {
    background-color: #f65687;
}
.dark {
    background-color: #725847;
}
.rock {
    background-color: #b8a137;
}
.bug {
    background-color: #a8b720;
}
.ghost {
    background-color: #6e5896;
}
.steel {
    background-color: #b9b7cf;
}
.dragon {
    background-color: #6f38f6;
}
.fairy {
    background-color: #f9aec7;
}



#title {
    font-size: 2rem;
    font-weight: bold;
}
#title > img {
    width: 10%;
}


.pokemonDetail {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.pokemonDetail .numberDetail {
    color: #fff;
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
}

.pokemonDetail .nameDetail {
    margin-bottom: 0.25rem;

    color: #fff;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
}

.pokemonDetail .detailPokemon {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.pokemonDetail .detailPokemon .typesDetail {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: row;
}

.pokemonDetail .detailPokemon .typesDetail .typeDetail {
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin: 0.50rem 1% 1rem 1%;
    font-size: 1rem;
    border-radius: 1rem;
    /*Este atributo brightness() controla o brilho do elemento, onde 1 é normal e nesse caso 1.1 seria para brilhar 10% a mais*/
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;
}

.pokemonDetail .detailPokemon img {
    max-width: 100%;
    height: 200px;
    align-self: center;
}





#btnEvents {
    margin-top: 10%;
    text-align: center;
}

#about, #stats, #moves {
    margin: 0% 5%;
    color: lightgray;
}

#about, #stats, #moves:hover {
    cursor: pointer;
}

#contentDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10%;
}





.attribute {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 10%;
}
.attribute > span {
    margin-bottom: 20%;
    color: lightslategray;
}


.value {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.attValue {
    margin-bottom: 65%;
}

.spanValue {
    margin-bottom: 10%;
}


.horizontalBar {
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.horizontalBar > span {
    margin-bottom: 18%;
}